:root {
    --border-radius-amount:40px;
    --space-amount:8%;

    --header-bg:#ECF0FA;
    --footer-bg:#25252b;
    --gray:#f3f3f6;
    --white:#fff;
}

header {
    background-color: var(--header-bg);
    width: 100%;
    height: 6vh;
    padding: 0.5% 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
    color: #142474;
}

header > a {
    margin: 0 1.3%;
}

footer {
    background-color: var(--footer-bg);
    color: var(--white);
    width: 100%;
    height: 30vh !important;
    padding: 0.5% 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link:hover > i,.link:hover,header > a {
    color: #505791;
}

.left-sec > .content {
    padding: 5% 5% 5% 10% ;
}
.right-sec > .content {
    padding: 5% 10% 5% 5% ;
}

section {
    width: 100%;
    height: 90vh;
    min-height: 90vh;
    /* height: fit-content; */
    position: relative;
    z-index: 0;
}

.fit {
    height: fit-content !important;
}


section > .content {
    width: 100;
    height: 100%;
    /* height: fit-content; */
    min-height: 100%;
    z-index: 0;
    padding: 5% 2% 5% 10% ;
    
}




/* space with block */
.top-space {
    /* padding-top: var(--space-amount); */
    padding-top:4%;
}
.right-space {
    padding-right: var(--space-amount);
}
.left-space {
    padding-left: var(--space-amount);
}
.btm-space {
    padding-bottom: var(--space-amount);
}

/* round with content */
.topleft-round > .content {
    border-top-left-radius: var(--border-radius-amount);
}
.topright-round > .content {
    border-top-right-radius: var(--border-radius-amount);
}
.bottomleft-round > .content {
    border-bottom-left-radius: var(--border-radius-amount);
}
.bottomright-round > .content {
    border-bottom-right-radius: var(--border-radius-amount);
}

.right-round > .content {
    border-top-right-radius: var(--border-radius-amount);
    border-bottom-right-radius: var(--border-radius-amount);
}
.left-round > .content {
    border-top-left-radius: var(--border-radius-amount);
    border-bottom-left-radius: var(--border-radius-amount);
}


.white-board {
    background-color: var(--gray);
}
.white-board > .content {
    background-color: var(--white);
}

.gray-board {
    background-color: var(--white);
}
.gray-board > .content {
    background-color: var(--gray);
}


#title-page {
    position: relative;
}

.full-page {
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 3% 12%;
    display: flex;
    align-items: center;
    letter-spacing: 3px;
    z-index: 1;
}
/* .full-page > div {
    width: calc(100%/2);
} */
.full-page > div:nth-child(1) {
    width: calc(100%/10*6);
}
.full-page > div:nth-child(2) {
    width: calc(100%/10*4);
}

.full-page > div > img {
    width: 85%;    
    aspect-ratio: 1/1;
    border-radius: 20px;
}

.big-img {
    display: flex;
    justify-content: center;
    align-content: center;
}
.big-title {
    font-family: 'NotoSerifTC Bold', sans-serif;
    font-weight: bolder;
}

.big-title > h1 {
    position: relative;
}

.mark {
    display: block;
    position: absolute;
    width: 4px;
    border-radius: 10px;
    height: 50%;
    background-color: black;
    top: 60%;
    left: 0;
    transform: translateY(-50%);
}

.bg-left {
    left: 2%;
    top: 5%;
    flex-direction: row-reverse;
}
.bg-right {
    right: 2%;
    top: 5%;
    flex-direction: row;
}


.title-in-background {
    position: absolute;
    font-size: 55px;
    font-family: 'NotoSerifTC Black',sans-serif;
    font-weight: bold;
    color: rgba(128, 128, 128, 0.5);
    /* transform: rotate(90deg); */
    cursor:default;
    display: flex;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.text-center {
    text-align: center;
}
.vrl{
    writing-mode: vertical-rl;
}

.skill-group {
    margin: 5% 0 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.skill-group > .skill {
    text-align: center;
    width: calc(100%/3);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 2% 2%;
}
.skill > .img-holder {
    width: 30%;
    aspect-ratio: 1/1;
}
.skill > h3 {
    margin: 3% 0;
}

.img-holder img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.project-group {
    display: flex;
    flex-wrap: wrap;
    z-index: 10;
    position: relative;
}
.project-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2% 0;
    /* justify-content: space-between; */
}
.project {
    background-color: rgba(255, 255, 255, 0.5);
    border: rgba(255, 255, 255, 0.255) 5px solid;
    border-radius: 20px;
    width: calc(100%/2*0.8);
    min-height: 200px;
    margin-right: 5%;
    padding: 2% 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    position: relative;
}
.project > a:hover {
    color: #3f4573;
}

.project > button {
    width: 45%;
    margin:5% 0;
}

.type {
    text-align: right;
    font-size: 12px;
}

.time {
    font-size: 12px;
    position: absolute;
    right: 1.2%;
    bottom: 1.2%;
}

/* btn-28 */

.button-28 {
    appearance: none;
    background-color: transparent;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: #1A1A1A;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 5% 5%;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    will-change: transform;
  }
  
  .button-28:disabled {
    pointer-events: none;
  }
  
  .button-28:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }
  
  .button-28:active {
    box-shadow: none;
    transform: translateY(0);
  }
/* btn end */

.btn {
    background-color: white;
    color: var(--footer-bg);
    width: 50px;
    height: 50px;
    font-size: 30px;
    border-radius: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1%;
}

.btn:hover > i {
    color:#142474;
}


@media (max-width:770px) {
    .content {
        padding: 0;
    }
    .project {
        width: calc(100%/2*0.9);
    }
}

@media (max-width:760px) {
    .full-page {
        text-align: center;
        padding: 5% 3%;
        flex-direction: column;
    }
    .full-page > div {
        width: 100% !important;
    }
    .big-title h1 {
        padding: 0 !important;
        font-size: 30px !important;
    }
    .big-title > h5 {
        font-size: 10px !important;
        margin-bottom: 5%;
    }
    #title-page > section {
        height: 135vh;
    }
    .full-page > div > img {
        width: 60%;
    }
    .mark {
        display: none;
    }

    .title-in-background {
        font-size: 30px;
    }

    .skill-group > .skill {
        width: calc(100%/2);
    }
}
@media (max-width:700px) {
    #title-page > section {
        height: 120vh;
    }

    .content {
        padding: 5% 1% 5% 8% ;
        font-size: 13px;
    }

    .skill-group > .skill {
        width: 100%;
    }
}

.btn-group {
    display:flex;
    width: 25%;
}

@media (max-width:640px) {
    .btn-group {
        width: 50%;
        justify-content: center;
        margin-bottom: 3%;
    }
    footer {
        height: 25vh !important;
        padding-top: 5% !important;
        justify-content: center;
        align-content: center;
        flex-direction: column-reverse;
    }
}

@media (max-width:620px) {
    .project-row {
        flex-direction: column;
    }
    .project {
        width: 100%;
        margin-bottom: 5%;
    }
}

@media (max-width:565px) {
    #title-page > section {
        height: 110vh;
    }
}
@media (max-width:450px) {
    #title-page > section {
        height: 90vh;
    }

    #about>.content {
        padding-top: 15%;
    }
}