
#main ,#about,#homework{
    height: 100vh;
}

.title {
    font-size: 70px;
    line-height: 1;
    font-weight: 700;
    color: #000;
    margin: 0 0 15px;
}

.title-3 {
    color: #515769;
    font-size: 20px;
}

.about-content ,.homework-content{
    color: #515769;
    font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    color: #000;
    margin: 0 0 15px;
}

p {
    font-size: 15px;
    font-weight: 400;
    color: #a6a7aa;
    margin-bottom: 15px;
}

.social-menu ul {
    /* position: absolute; */
    top: 50%;
    left: 50%;
    /* transform: translate(-50%, -50%); */
    /* padding: 0; */
    /* margin: 0; */
    display: flex;
}
.social-menu ul li {
    list-style: none;
    margin: 0 10px;
}
.social-menu ul li .fa {
    color: #000000;
    font-size: 25px;
    line-height: 50px;
    transition: .5s;
}
.social-menu ul li .fa:hover {
    color: #ffffff;
}
.social-menu ul li a {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    transition: 0.5s;
    transform: translate(0,0px);
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);

}
i {
    color: #000000;
    margin-top: 8px;
    font-size: 35px;
    line-height: 50px;
    transition: .5s;
}

.social-menu ul li a:hover {
    transform: rotate(0deg) skew(0deg) translate(0, -10px);
}
.social-menu ul li:nth-child(1) a:hover {
    background-color: #3b5999;
}
.social-menu ul li:nth-child(2) a:hover {
    background: #d6249f;
    transform: .5s;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  /* box-shadow: 0px 3px 10px rgba(0,0,0,.25); */
}
.social-menu ul li:nth-child(3) a:hover {
    background-color: #515769;
}
.social-menu ul li:nth-child(4) a:hover {
    background-color: #cd201f;
}
.social-menu ul li:nth-child(5) a:hover {
    background-color: #0077B5;
}

