a {
    text-decoration: none;
    color: black;
    font-family: "slimJOHN";
}


/**=== header ================ */

header {
    width: 100%;
    height: 10vh;
    background-color: white;

    display: flex;
    align-items: center;

    position: fixed;
    right: 0;
    top: 0;
}

/* @media (max-width:750px) {
    header {
        padding-bottom: 10px;
    }
} */

.header-icon-group {
    display: flex;
    align-items: center;
    margin-right: 5%;
}

.title-icon {
    margin: 0 20px;
    font-size: 22px;
}

/* @media (max-width:1400px) {
    .title-icon {
        margin: 0 10px;
    }

    .header-icon-group {
        margin-right: 3%;
    }
} */

.header-accordion {
    display: none;
}

.accordion {
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    border-radius: 5px;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active,
.accordion:hover {
    background-color: #ccc;
}

.panel {
    display: none;
    width: 100%;
    margin-left: 20px;
    padding: 0 18px;
    background-color: white;
}

.panel-icon {
    font-size: 20px;
    margin-top: 10px;
}

/* @media (min-width:751px) {
    .panel {
        display: none;
    }
}

@media (max-width:750px) {
    header {
        display: flex;
        flex-direction: column;
        height: fit-content;
    }

    .header-icon-group {
        display: none;
    }

    .header-accordion {
        display: block;
        margin-right: 20px;
        margin-top: 10px;
        margin-left: auto;
    }

    .panel {
        display: block;
    }
} */

/* ============================= */

/** home   */


.element {
    margin-top: 10vh;
    padding: 0px 15%;
}

/* @media (max-width:1450px) {
    .element {
        padding: 10vh 10%;
    }
}

@media (max-width:1370px) {
    .element {
        padding: 10vh 5%;
    }
}

@media (max-width:1000px) {
    .element {
        padding: 10vh 1%;
    }
} */

.home {
    display: flex;
    align-items: center;
    padding-left: 20%;
    padding-bottom: 20px;
}

.home-left {
    width: 50%;
    height: fit-content;
    margin-right: 10px;
}

.home-right {
    width: 50%;
    height: fit-content;
}

.big-shot {
    margin-top: 20px;
    width: 600px;
}

.home-title {
    font-size: 100px;
    font-weight: bolder;
    margin-top: -50px;
    font-family: "silm john";
}

.home-title2 {
    margin-top: -20px;
    font-size: 30px;
    font-family: "silm john";
}

.home-title3 {
    font-size: 20px;
    font-family: "silm john";
}


/* @media (max-width:1450px) {
    .home {
        margin-top: 10vh;
    }

    .home-left {
        margin-right: 30px;
    }

    .home-right {
        margin-right: 30px;
    }


    .big-shot {
        width: 400px;
    }

    .home-title {
        font-size: 75px;
    }

    .home-title2 {
        font-size: 25px;
    }
} */

/* @media (max-width:1100px) {
    .home {
        padding-top: 5%;
        padding-left: 15%;
    }
}

@media (max-width:970px) {
    .home {
        padding-left: 13%;

    }
}

@media (max-width:930px) {
    .big-shot {
        width: 300px;
    }
}

@media (max-width:850px) {
    .home-title {
        font-size: 60px;
        margin-top: -30px;
    }

    .home-title2 {
        font-size: 20px;

    }
} */

/* @media (max-width:750px) {
    .home {
        flex-direction: column;

        padding-left: 0;
        padding-right: 0;
    }

    .home-left,
    .home-right {
        margin: 0;
        width: fit-content;

        display: flex;
        flex-direction: column;
    }

    .home-title,
    .home-title2,
    .home-title3 {
        margin: 0 auto;
    }

    .home-title {
        margin-bottom: -30px;
    }

    .home-title2 {
        font-size: 30px;
        margin-top: 20px;
    }

    .home-title3 {
        width: 80%;

    }

    .big-shot {
        margin: 0 auto;
        width: 80%;
    }
}

@media (max-width:320px) {
    .home-title2 {
        font-size: 20px;
    }

    .home-title3 {
        font-size: 10px;
    }
} */

/* ================================== */

/* content */
.title {
    padding-top: 5vh;
    padding-left: 5%;
    font-size: 45px;
    font-weight: bolder;
    font-family: "big john";
}

.content-text {
    margin-top: 20px;
    font-size: 25px;
    padding: 0 10%;
    margin-bottom: 30px;
}

.fade-in {
    opacity: 0;
}

.content {
    padding-bottom: 5vh;
}

/* @media (max-width:750px) {
    .title {
        padding-left: 10%;
    }

    .content {
        padding-left: 0;
        padding-top: 0;
    }
} */


.school-list {
    display: flex;
    align-items: center;
}

.school-card {
    margin: 5px;
    padding-bottom: 2%;
    border-radius: 10px;

    width: 25%;
    height: fit-content;
    background-color: #FAFAFA;


}

.school-card-img {
    margin: 10% 5%;
    margin-bottom: 4%;
    width: 90%;
    border-radius: 10px;
}

.card-title {
    padding-left: 10%;
    margin: 10% 5%;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 40px;
}

.card-content {
    padding-left: 8%;
    margin: 0 5%;
    margin-top: 0;
    font-size: 20px;
}

/* @media (max-width:750px) {
    .school-list {
        flex-direction: column;
        width: 100%;
    }

    .school-card {
        width: 100%;
    }
} */

.popout {
    animation: popout 1s ease;
    -webkit-animation: popout 1s ease;
}

@keyframes popout {
    from {
        transform: scale(0)
    }

    80% {
        transform: scale(1.1)
    }

    to {
        transform: scale(1)
    }
}

@-webkit-keyframes popout {
    from {
        -webkit-transform: scale(0)
    }

    80% {
        -webkit-transform: scale(1.2)
    }

    to {
        -webkit-transform: scale(1)
    }
}


/* contact */

.contact {
    margin-top: 3rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.contact-title {
    font-size: 40px;
    font-family: "big john";
}

.contact-content {
    /* padding: 0 10%; */
    padding-top: 2rem;
    font-size: 25px;
}

.work {
    height: fit-content;
}


.research-list {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

.animated{
    animation: 1s ease-out 0s 1 slideInFromLeft;
}

.research-card {
    margin-top: 1rem;
    display: flex;
    width: 100%;
    height: 200px;
    background-color: #FAFAFA;
    border-radius: 20px;
    opacity: 0;
}

.research-content {
    margin: 1rem 10%;
    font-size: 30px;
    padding-bottom: 2rem;
}

.research-card-title {
    font-family: "big john";
}

.research-card-text {
    margin-top: 1rem;
}

.research-card-img>img {
    margin-left: 20%;
    max-width: 200px;
    height: 100%;
    padding: 10% 10%;
    border-radius: 20px;
}

.viewmore {
    margin-top: 1rem;
    border: 0;
    width: 100%;
    height: fit-content;
    background-color: #FAFAFA;
    border-radius: 20px;
}

.viewmore:hover {
    background-color: #E1E1E1;
}

.footer {
    height: fit-content;
}

