<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>作業2</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="../static/css/hw2.css">
    <script src="../static/javascript/hw2.js"></script>
</head>
<body>
<center>
    <table width="" border="1px  black" class="table">
        <tr >
            <td class="title" colspan="3" align="center" ><b>九九乘法表</b></td>
        </tr>
        <tr>
            <td class="one content" align="center"></td>
            <td class="two content" align="center"></td>
            <td class="three content" align="center"></td>
        </tr>
        <tr>
            <td class="four content" align="center"></td>
            <td class="five content" align="center"></td>
            <td class="six content" align="center"></td>
        </tr>
        <tr>
            <td class="seven content" align="center"></td>
            <td class="eight content" align="center"></td>
            <td class="nine content" align="center"></td>
        </tr>
    </table>
</center>
</body>
</html>