<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>作業6</title>
    <link rel="stylesheet" href="../static/css/hw3.css">
    <script src="../static/javascript/hw6.js"></script>
    <style>
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    </style>
</head>
<body>
    <a href="../index.html#homework">回首頁</a>
    
    <table width="" border="1px  black" class="table">
        <tr >
            <td class="title" colspan="3" align="center" ><b>九九乘法表</b></td>
        </tr>
        <tr>
            <td class="one content" align="center"></td>
            <td class="two content" align="center"></td>
            <td class="three content" align="center"></td>
        </tr>
        <tr>
            <td class="four content" align="center"></td>
            <td class="five content" align="center"></td>
            <td class="six content" align="center"></td>
        </tr>
        <tr>
            <td class="seven content" align="center"></td>
            <td class="eight content" align="center"></td>
            <td class="nine content" align="center"></td>
        </tr>
    </table>
</body>
</html>