<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>作業7</title>
    <script src="https://code.jquery.com/jquery-3.6.1.js"
        integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/flowbite@1.5.5/dist/flowbite.js"></script>
</head>

<body>
    <div id="app " class=" flex justify-center align-center flex-col items-center">
        <a href="../index.html#homework" class="hover:text-[rgb(255,0,255)]">回首頁</a>
        <hr>
        <table class="w-[80%]">
            <tr class="bg-[#353A40] text-white py-1">
                <th colspan="5">購物車範例</th>
            </tr>
            <tr class="">
                <td class="flex flex-inline px-2 py-2">
                    <input class="productName border border-[black] mx-2 rounded text-left px-2" type="text" placeholder="商品名稱"
                        value="">
                    <input class="productPrice border border-[black] mx-2 rounded text-right px-2" type="number" placeholder="單價"
                        value="" min="1">
                    <button id="appendBtn"
                        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">增</button>
                </td>
                <td>
                </td>
            </tr>
        </table>
        <table id="list" class="w-[80%]">
            <tr class="bg-[#353A40] text-white py-1">
                <th class="w-[10%]">功能</th>
                <th class="w-[30%]">商品名稱</th>
                <th class="w-[20%]">數量</th>
                <th class="w-[20%]">單價</th>
                <th class="w-[20%]">小計</th>
            </tr>
        </table>
        <hr class="my-0 mx-auto w-[80%] h-[1px] bg-gray-300 rounded border-0 ">
        <div class="w-[80%] text-right">總計:<span id="total">0</span>元</div>
    </div>
    <script>
            
        $(document).ready(function () {

            $("#appendBtn").click(function (e) {
                e.preventDefault();
                productName = $(this).siblings('.productName').val()
                productPrice = $(this).siblings('.productPrice').val()
                $("#list").append(`
            <tr class="item bg-white py-1">
                <td class="w-[10%]">
                    <button class="delButton bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">刪</button>
                </td>
                <td class="w-[30%]">${productName}</td>
                <td class="w-[20%]">
                    <select class="select">
                        <option class=".add-amount">0</option>
                        <option class=".add-amount">1</option>
                        <option class=".add-amount">2</option>
                        <option class=".add-amount">3</option>
                        <option class=".add-amount">4</option>
                        <option class=".add-amount">5</option>
                        <option class=".add-amount">6</option>    
                        <option class=".add-amount">7</option>
                        <option class=".add-amount">8</option>
                        <option class=".add-amount">9</option>
                        <option class=".add-amount">10</option>
                    </select>
                </td>
                <td class="price w-[20%] text-right">${productPrice}</td>
                <td class="price-t w-[20%] text-right">0</td>
            </tr>
                `)

                $(".delButton").click(function (e) {
                    e.preventDefault();
                    $(this).parent().parent(".item").html("")
                    ChangeTotal()
                });

                function ChangeTotal() {
                    let total = 0
                    $(".price-t").each(function () {
                        total = total +  parseInt($(this).html())
                    })
                    $("#total").html(total)
                }

                $(".select").on('change',function () {
                    $('.select option:selected').each(function () {
                        price = $(this).parent().parent().parent().children(".price").html()
                        $(this).parent().parent().parent().children(".price-t").html(
                            parseInt(price)*parseInt($(this).html())
                        )
                    })
                    ChangeTotal()
                })

            });
        });
    </script>
</body>

</html>