<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center><a href="../index.html#homework">回首頁</a></center>
    <table align="center" border="1px split black" width="300px"  >
        <tr>
            <td colspan="4" align="center">作業1:html表格</td>
        </tr>
        <tr>
            <td colspan="1" rowspan="3"  align="center" height = "100px" width = "100px" cellpadding = "0"><img src="../static/img/作業一圖片.jpg" alt="" width = "100px" height="100px"></td>
            <td colspan="1" align="center">班級</td>
            <td colspan="2">資工二甲</td>
        </tr>
        <tr>
            <td colspan="1" align="center">姓名</td>
            <td colspan="2">賴家煜</td>
        </tr>
        <tr>
            <td colspan="1" align="center">學號</td>
            <td colspan="2">1111032026</td>

            
        </tr>
    </table>
</body>
</html>
