<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>作業五</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link rel="stylesheet" href="../static/css/hw5.css">
</head>

<body>
    <header>
        <div class="title">部落格排版</div>
        <div class="title-icon-group">
            <div class="home"><a href="../index.html#homework">Home</a></div>
            <div class="link">Link</div>
        </div>
    </header>
    <div class="body">
        <div class="container">
            <div class="link-area">
                <span style="color: #34ADC0;">Home</span>
                <span class="link-slash">/</span>
                <span style="color: #34ADC0;">Library</span>
                <span class="link-slash">/</span>
                <span style="color: #6D7987;">Data</span>
            </div>

            <div class="big-title">
                <h1>部落格標題</h1>
                <div class="small-title-group">
                    <div class="small-title">haha</div>
                    <div class="small-title">haha</div>
                    <div class="small-title">haa</div>
                </div>
            </div>
            
            <div class="content">
                <div class="main">
                    <div >
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia ex exercitationem, voluptatibus alias nostrum, repellendus nulla a eius culpa iusto incidunt dicta, libero non perspiciatis est! Corrupti similique laboriosam molestiae!
                    </div>
                    <h2>副標題</h2>
                    <div>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque ipsam blanditiis porro cumque soluta, eaque provident quam delectus harum eos, facilis optio doloribus possimus eius magni cum pariatur nam repudiandae.
                    </div>
                    <ul>
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. A, possimus quo distinctio ea accusamus ex quidem voluptatem vitae perferendis provident enim reprehenderit cupiditate dolores ipsum sint illum, pariatur, dicta recusandae.</li>
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, quae harum veritatis maxime nam quidem dicta. Quisquam dolorum adipisci laborum nesciunt quaerat magni, molestiae impedit fuga quibusdam repudiandae ea expedita.</li>
                        <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam dolores eius quod blanditiis culpa ad aut expedita harum molestiae est consequuntur, facilis nisi, tempore delectus. Impedit voluptas dolore numquam labore!</li>
                        <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat laborum, optio iusto debitis sunt totam repellat, nobis fugit quod veniam, blanditiis quibusdam aspernatur repellendus autem itaque omnis! Atque, ab doloribus.</li>
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias fuga vitae obcaecati quae rerum fugiat possimus odit facere, animi aperiam eligendi voluptatibus commodi pariatur sunt atque maiores laboriosam facilis quisquam.</li>
                    </ul>
                    <img class="img" src="../static/img/img_holder.png" alt="">

                    <div class="text-bar">
                        <div class="text-bar-title ">留言區</div>
                        <div class="text-content">
                            <div class="user">
                                <img src="../static/img/img_holder.png" width="50px" height="50px" alt="">
                                <div class="user-text-group">
                                    <div class="">留言內容</div>
                                    <div class="user-input"><input type="text"></div>
                                    <div class="user-input-btn"><button>提交</button></div>
                                </div>
                            </div>
                            <div class="user">
                                <img src="../static/img/img_holder.png" width="50px" height="50px" alt="">
                                <div class="user-text-group">
                                    <div class="user-name">Media heading</div>
                                    <div class="user-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus dolorem natus nulla, a veritatis, nisi porro cumque quam voluptatum repudiandae eligendi tenetur, eveniet eos voluptates modi dolore voluptate voluptas distinctio.</div>
                                </div>
                            </div>
                            <div class="user">
                                <img class="user-img" src="../static/img/img_holder.png" width="50px" height="50px" alt="">
                                <div class="user-text-group">
                                    <div class="user-name">Media heading</div>
                                    <div class="user-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus dolorem natus nulla, a veritatis, nisi porro cumque quam voluptatum repudiandae eligendi tenetur, eveniet eos voluptates modi dolore voluptate voluptas distinctio.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tags">
                    <h3>Tags</h3>
                    <div class="tag">
                        <span class="badge">Badge</span> 
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div>版權宣告</div>
        </footer>
    </div>
</body>

</html>